<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>글 목록</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="nav" th:replace="/common/nav :: nav"></div>

<div class="container">
<ul class="list-group">
  <li class="list-group-item">총글수: <span th:text="${boardList.totalElements}"></span><br></li>
</ul>
</div>

<div class="container">
  <table class="table">
  <h2>게시판</h2>
  <thead>
  <tr>
    <th>No</th>
    <th>제목</th>
    <th>작성자</th>
    <th>조회수</th>
    <th>작성시간</th>
  </tr>
  </thead>
  <tbody>
    <tr th:each="list: ${boardList}">    <!-- 반복문 -->
      <td th:text="${list.no}"></td>      <!--글 번호 -->
      <td><a th:text="${list.title}" th:href="@{|/board/detail/${list.no}|}"></a></td>   <!-- 글제목+ 글 자세히보기 -->
      <td th:text="${list.writer}"></td>   <!-- 작성자 -->
      <td th:text="${list.hit}"></td>       <!-- 조회수 -->
      <td th:text="*{#temporals.format(list.createTime, 'HH:mm:ss')}"></td> <!-- 작성시간 -->
    </tr>
  </tbody>
  <div class="form-group">    <!--첫번째페이지면?'#': 아니면 현재페이지-1-->
    <a th:href="${boardList.first} ? '#' : @{/board/list(page=${boardList.number-1})}">이전</a>
    <th:block th:each="page:${#numbers.sequence(startPage, endPage)}">
      <span th:if="${page==nowPage}" th:text="${page}" th:classappend="nowPage"></span>
      <span th:unless="${page==nowPage}"><a th:href="@{/board/list(page=${page-1})}" th:text="${page}"></a></span>
    </th:block>
                           <!--마지막페이지면?'#': 아니면 현재페이지+1-->
    <a th:href="${boardList.last} ? '#' : @{/board/list(page=${boardList.number+1})}">다음</a>
  </div>

    <div class="form-group" sec:authorize="isAuthenticated()">
      <th:block th:classappend="${#authorization.expr('isAnonymous()')} ? 'write-prohibit'">
        <a th:href="@{/board/write}">글쓰기</a>
      </th:block>
    </div>

  </table>
</div>
<div class="nav" th:replace="/common/footer :: footer"></div>

</body>
</html>